/vendor
/node_modules
Homestead.yaml
Homestead.json
/log/*
.env
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/32405_mysqladmin1315
/public/affiliate
/public/conf.d
/public/media
/public/PHPMyAdminCC
/public/templates
/public/themeadmin
/public/tmp
/public/vendor
/public/bigdump.php
/public/DomainActivation.html
/public/geoip.php
/public/get.php
/public/googlec974e6f9cdc96671.html
/public/logo-small.png
/public/nganluong_2e9373f84a8cb5c51ac801e4c06712e5.html
/public/words_blacklist.txt